<template>
  <div>
    <nav class="bg-white border-gray-100 px-2 sm:px-4 py-2.5 dark:bg-gray-100 w-full">
      <div class=" flex flex-wrap justify-between items-center w-full">
        <a href="https://thejawx.com/" class="flex items-center">
          <!-- <img src="/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo"> -->
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">JAWX</span>
        </a>
        <button @click="hidden=!hidden" type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-200 dark:focus:ring-gray-300"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
          <svg class="hidden w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="w-full md:block md:w-auto" :class="hidden?'hidden':''">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li v-for="(menu, i) of menus" :key="i">
              <nuxt-link :to="menu.path"
                :class="`${activeItem === menu.path ? 'bg-blue-700 text-white ring-blue-700 md:text-blue-700' : 'text-gray-700 md:text-gray-700'}`"
                class="block navbar-font py-2 pr-4 pl-3 rounded md:bg-transparent md:p-0 dark:text-white"
                aria-current="page">{{ menu.title }}</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hidden: true,
      menus: [
        {
          path: '/',
          title: 'About'
        },
        {
          path: '/products',
          title: 'Products'
        },
        {
          path: '/stories',
          title: 'Stories'
        },
        {
          path: '/contact-us',
          title: 'Contact us'
        }
      ]
    }
  },
  computed: {
    activeItem() {
      return this.$route.path
    }
  }
}
</script>

<style scoped>
</style>