<template>
    <div class="w-full hero flex justify-center items-end pb-28">
        <div class="w-1/2 md:w-3/4 sm:w-full xs:w-full">
            <h3 class="text-center hero-title text-gray-700">Our mission is to <span class="text-red-400">build</span>, <span class="text-amber-500">distribute</span>, and <span class="text-green-700">manage</span> high utility software applications for businesses and consumers in any form.</h3>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
</style>