<template>
    <div class="flex justify-center items-center">
        <div class="w-3/4 commitments border">
            commitments
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>