<template>
    <div class="py-12 flex justify-center items-center">
        <div class="w-3/4">
            Stories
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>