@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Product-Sans';
  src: url("./fonts/ProductSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Product-Sans-Bold';
  src: url("./fonts/ProductSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Product-Sans-Medium';
  src: url("./fonts/ProductSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Product-Sans-Regular';
  src: url("./fonts/ProductSans-Regular.ttf") format("truetype");
}

body,
html {

  width: 100vw;
}
.hero-title {
  font-family: 'Product-Sans-Regular';
  font-size: 32px;
}

footer {
  font-family: 'Product-Sans-Regular';
}

.navbar-font {
  font-family: 'Product-Sans-Medium';
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(227, 237, 242) 68.1%);
  height: 80vh;
  width: 100vw;
}

.commitments {
  height: 70vh;
  
}

.hero-navbar {
  height: 7vh;
}

.hero-box {
  height: 93vh
}

.logo {
  font-family: 'Product-Sans-Bold';
  font-size: clamp(1rem, 8vw, 1.5rem);
  line-height: 1;
  letter-spacing: -0.02em;
}

.title {
  font-family: 'Product-Sans-Bold';
  font-size: clamp(2rem, 10vw, 9rem);
  line-height: 1;
  letter-spacing: -0.02em;
}

.subtitle {
  color: #696c74;
  font-family: 'Product-Sans-Medium';
  font-size: clamp(1rem, 3vw, 2rem);
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}