<template>
  <div class=" d-flex flex-column">
      <!-- <Navbar /> -->
      <HeroComponent />
      <!-- <OurCommitments />
      <OurProducts />
      <OurStories /> -->

  </div>
</template>

<script>
import Navbar from '../components/common/Navbar.vue';
export default {
    name: "IndexPage",
    layout: 'website',
    mounted() {
        this.$ga.page(this.$router);
    },
    components: { Navbar }
};
</script>
