<template>
  <div class="hero d-flex flex-column">
      <Navbar />


  </div>
</template>

<script>
import Navbar from '../components/common/Navbar.vue';
export default {
    name: "IndexPage",
    mounted() {
        this.$ga.page(this.$router);
    },
    components: { Navbar }
};
</script>
